/*CABECERA*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 23px;
    background-color: red;
    color: white;
}

/*SECTION-PAG1*/


.img1 {
    width: 600px;
    height: 338px;
}


.margen_pag1 {
    border: 2px solid gray;
    height: 370px;
    width: 1160px;
    position: absolute;
    left: 20%;
    right: 18%;

}

button {
    background-color: red;
    color: white
}

/*SECTION-PAG2*/

.container1 {
    height: 325px;
    width: 68%;
    border: 1px solid gray;
    margin-left: 5%;
    margin: 6%;
    position: relative;
    left: 120px;
}

/* */
.container1 img {
    float: right;
    width: 280px;
    position: relative;
    top: 50px;
    left: -40px;
}
 */

/*parrafo */
#texto {
    padding: 160px 210px;
    font-size: 10px;
    position: relative;
    top: -100px;
    left: -180px;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 35px;
    background-color: red;
    color: white;
}