/*CABECERA*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 23px;
    background-color: red;
    color: white;
}

/*SECTION-PAG1*/

.borde{
    border: 1px solid gray;
    height: 320px;
    width: 900px;
    position: absolute;
    left: 16.5%;
    top: 20%;
    
}

button {
    background-color: red;
    color: white
}

/*SECTION-PAG2*/

.container1 {
    height: 325px;
    width: 68%;
    border: 1px solid gray;
    margin-left: 5%;
    margin:6%;
    position: relative;
    left: 120px;
}


img {
    float: right;
    width: 280px;
    position: relative;
    top: 50px;
    left: -40px;
}
/*parrafo */
#texto{
    padding: 160px 210px;
    font-size: 10px;
    position: relative;
    top:-100px;
    left: -180px;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 35px;
    background-color: red;
    color: white;
}